In [26]:
import pandas as pd
import numpy as np
import re

data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [30]:
def count_sex():
    sex = data['Sex'].value_counts()
    print(sex[0]," ",sex[1])

577   314

In [34]:
def count_survived():
    s = data['Survived'].value_counts()
    alive = (s[1]/len(data))*100
    print(round(alive,2))

38.38

In [46]:
def count_plcass():
    p = data['Pclass'].value_counts()
    plc = (p[1]/len(data))*100
    print(round(plc,2))

24.24

In [60]:
def age():
    a = data['Age']
    df = pd.DataFrame(a)
    mean = float(df.mean())
    median = int(df.median())
    print(round(mean,2)," ",median)

29.7   28

In [61]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [134]:
col = np.vstack((data['SibSp'],data['Parch']))
df = pd.DataFrame(col)
df = df.transpose()
print(df)

df = df.corr(method = 'pearson', min_periods = 1)
print(df)

     0  1
0    1  0
1    1  0
2    0  0
3    1  0
4    0  0
..  .. ..
886  0  0
887  0  0
888  1  2
889  0  0
890  0  0

[891 rows x 2 columns]
          0         1
0  1.000000  0.414838
1  0.414838  1.000000

In [27]:
name = data['Name']
name = np.array(name)
sex = data['Sex']
sex = np.array(sex)
f_n = []
s= ""

for i in range(len(name)):
    if sex[i] == "female":
        s = name[i]
        n = s.find(",")
        s = s[n+2:]
        match = re.split(r'\W+', s)
        f_n.append(match[1])

f_n = pd.Series(f_n)
female = f_n.value_counts()
print(female)

William      13
Mary         11
Anna          9
Elizabeth     8
John          6
             ..
Karl          1
Countess      1
Malake        1
Edgar         1
Frederic      1
Length: 196, dtype: int64

In [11]:
match = re.search(r'\w{3,4}\S\s\S*\w*',r' Mrs. (Catherine David)')
print(match[0] if match else 'Not found')

Mrs. (Catherine

In [25]:
match = re.split(r'\W+', 'Mrs. (Catherine David)')
print(match[1])

Catherine