In [68]:
import pandas as pd
import numpy as np
from sklearn import tree

data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [69]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [109]:
df = pd.DataFrame(data)
df = df.drop(columns=['Name', 'SibSp','Parch', 'Ticket', 'Cabin', 'Embarked'])

In [110]:
df = df.dropna(axis=0)
df = df.replace(to_replace ='female', value = 0, regex = True)
df = df.replace(to_replace ='male', value = 1, regex = True)

In [111]:
target = df['Survived']
df = df.drop(columns=['Survived'])
print(df)

             Pclass  Sex   Age     Fare
PassengerId
1                 3    1  22.0   7.2500
2                 1    0  38.0  71.2833
3                 3    0  26.0   7.9250
4                 1    0  35.0  53.1000
5                 3    1  35.0   8.0500
...             ...  ...   ...      ...
886               3    0  39.0  29.1250
887               2    1  27.0  13.0000
888               1    0  19.0  30.0000
890               1    1  26.0  30.0000
891               3    1  32.0   7.7500

[714 rows x 4 columns]

In [103]:
target = np.array(target)

In [112]:
clf = tree.DecisionTreeClassifier(random_state=241)
clf = clf.fit(df,target)

In [113]:
importances = clf.feature_importances_

In [114]:
print(importances)

[0.14000522 0.30051221 0.2560461  0.30343647]